USE [master]
GO
/****** Object:  Database [DB_FinalProject]    Script Date: 5/19/2026 8:34:24 AM ******/
CREATE DATABASE [DB_FinalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_FinalProject', FILENAME = N'C:\Users\kimba\DB_FinalProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_FinalProject_log', FILENAME = N'C:\Users\kimba\DB_FinalProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_FinalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_FinalProject]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/19/2026 8:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[ApprovedBy] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[LastName] [nvarchar](max) NULL,
	[HasCompletedSetup] [bit] NOT NULL,
	[SubscribedPlan] [nvarchar](max) NULL,
	[CompanyId] [int] NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [nvarchar](max) NOT NULL,
	[UserRole] [nvarchar](max) NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Resource] [nvarchar](200) NULL,
	[Details] [nvarchar](500) NULL,
	[IpAddress] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaigns]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaigns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[Goal] [nvarchar](80) NOT NULL,
	[Channel] [nvarchar](60) NOT NULL,
	[Segment] [nvarchar](60) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Budget] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Brief] [nvarchar](1000) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
	[IsArchived] [bit] NOT NULL,
	[HasLoyaltyPoints] [bit] NOT NULL,
	[CompanyId] [int] NULL,
	[CreatedByUserId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Campaigns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanySettings]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanySettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[LogoUrl] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[BillingEmail] [nvarchar](200) NULL,
	[CompanyAddress] [nvarchar](500) NULL,
	[IsSetupComplete] [bit] NOT NULL,
	[SetupByUserId] [nvarchar](max) NULL,
	[SignatureUrl] [nvarchar](max) NULL,
	[TaxIdentificationNumber] [nvarchar](50) NULL,
	[OwnerUserId] [nvarchar](max) NULL,
	[GoogleAuthenticatorEnabled] [bit] NOT NULL,
	[SmtpEnableSsl] [bit] NOT NULL,
	[SmtpEnabled] [bit] NOT NULL,
	[SmtpFromEmail] [nvarchar](200) NULL,
	[SmtpFromName] [nvarchar](200) NULL,
	[SmtpHost] [nvarchar](200) NULL,
	[SmtpPassword] [nvarchar](500) NULL,
	[SmtpPort] [int] NULL,
	[SmtpUsername] [nvarchar](200) NULL,
	[GoogleAuthenticatorSecretKey] [nvarchar](100) NULL,
 CONSTRAINT [PK_CompanySettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyAccounts]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[TotalPoints] [int] NOT NULL,
	[LoyaltyCode] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CompanyId] [int] NULL,
 CONSTRAINT [PK_LoyaltyAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyTransactions]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoyaltyAccountId] [int] NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[PointsEarned] [int] NOT NULL,
	[PointsBalance] [int] NOT NULL,
	[ProcessedByStaff] [nvarchar](100) NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LoyaltyTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promos]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[MessageTemplate] [nvarchar](max) NOT NULL,
	[ThankYouMessage] [nvarchar](max) NULL,
	[FollowUpMessage] [nvarchar](max) NULL,
	[FollowUpDelayDays] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[CompanyId] [int] NULL,
	[CreatedByUserId] [nvarchar](max) NULL,
	[CampaignId] [int] NULL,
 CONSTRAINT [PK_Promos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromoSignups]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromoSignups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromoId] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[IsClaimed] [bit] NOT NULL,
	[ClaimedAt] [datetime2](7) NULL,
	[ClaimedByStaff] [nvarchar](max) NULL,
	[InitialMessageSent] [bit] NOT NULL,
	[ThankYouMessageSent] [bit] NOT NULL,
	[FollowUpMessageSent] [bit] NOT NULL,
	[SignedUpAt] [datetime2](7) NOT NULL,
	[FollowUpScheduledAt] [datetime2](7) NULL,
	[CustomerType] [nvarchar](50) NULL,
	[PromoCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_PromoSignups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Plan] [nvarchar](50) NOT NULL,
	[BillingCycle] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[PayMongoPaymentId] [nvarchar](max) NULL,
	[PayMongoCheckoutUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Subscriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowLogs]    Script Date: 5/19/2026 8:34:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromoSignupId] [int] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[ErrorDetails] [nvarchar](max) NULL,
	[ExecutedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WorkflowLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260421032907_InitialIdentitySetup', N'8.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260426083649_AddCampaignsTable', N'8.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260430092834_AddCampaignIsArchived', N'8.0.4')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'2e3b2025-cabd-4922-a1bd-6889c6a4e9d9', N'SuperAdmin', N'SUPERADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'59e9b95e-fdbd-439b-bf5e-eb499fda50ef', N'CompanyOwner', N'COMPANYOWNER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'5fe2df26-11dd-4abf-b84f-3cf510d57025', N'MarketingStaff', N'MARKETINGSTAFF', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b9cb8438-0288-4443-a36a-a85d5299dd78', N'2e3b2025-cabd-4922-a1bd-6889c6a4e9d9')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'01bf3061-d57a-4650-88b4-2ad4f377803c', N'59e9b95e-fdbd-439b-bf5e-eb499fda50ef')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0416c404-bba4-48c9-a2e4-756e646425d6', N'59e9b95e-fdbd-439b-bf5e-eb499fda50ef')
GO
INSERT [dbo].[AspNetUserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'2c216d26-3a17-4531-9210-dfb414002c0d', N'[AspNetUserStore]', N'AuthenticatorKey', N'IMLZBN2S3XAIJGGJVATY')
INSERT [dbo].[AspNetUserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'c7d0e02a-edb9-4ffa-97a0-2deb1fcaf2ca', N'[AspNetUserStore]', N'AuthenticatorKey', N'ZEIMF3MZZUDLMUXFIR6I')
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([Id], [UserEmail], [UserRole], [Action], [Resource], [Details], [IpAddress], [Status], [Timestamp]) VALUES (1, N'Raid.Cristian@gmail.com', N'MarketingStaff', N'Created Campaign', N'Power Sip Promo', NULL, NULL, N'Success', CAST(N'2026-05-09T04:25:19.3854113' AS DateTime2))
INSERT [dbo].[AuditLogs] ([Id], [UserEmail], [UserRole], [Action], [Resource], [Details], [IpAddress], [Status], [Timestamp]) VALUES (2, N'Raid.Cristian@gmail.com', N'MarketingStaff', N'Updated Campaign', N'Power Sip Promo', NULL, NULL, N'Success', CAST(N'2026-05-09T04:31:46.7964156' AS DateTime2))
INSERT [dbo].[AuditLogs] ([Id], [UserEmail], [UserRole], [Action], [Resource], [Details], [IpAddress], [Status], [Timestamp]) VALUES (3, N'Raid.Cristian@gmail.com', N'MarketingStaff', N'Created Campaign', N'Coffee Break Express', NULL, NULL, N'Success', CAST(N'2026-05-09T04:34:22.3022255' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Campaigns] ON 

SET IDENTITY_INSERT [dbo].[Campaigns] OFF
GO
SET IDENTITY_INSERT [dbo].[CompanySettings] ON 

SET IDENTITY_INSERT [dbo].[CompanySettings] OFF
GO
SET IDENTITY_INSERT [dbo].[LoyaltyAccounts] ON 

INSERT [dbo].[LoyaltyAccounts] ([Id], [Email], [TotalPoints], [LoyaltyCode], [CreatedAt], [UpdatedAt], [CompanyId]) VALUES (1, N'raid.cristian@gmail.com', 63, N'LOYAL86075C7D', CAST(N'2026-05-09T06:25:31.1822372' AS DateTime2), CAST(N'2026-05-12T07:50:23.0738757' AS DateTime2), 3)
INSERT [dbo].[LoyaltyAccounts] ([Id], [Email], [TotalPoints], [LoyaltyCode], [CreatedAt], [UpdatedAt], [CompanyId]) VALUES (2, N'kimbaybayanon@gmail.com', 12, N'LOYALA503E9F4', CAST(N'2026-05-11T07:44:09.6106024' AS DateTime2), CAST(N'2026-05-11T08:15:12.0279598' AS DateTime2), 5)
INSERT [dbo].[LoyaltyAccounts] ([Id], [Email], [TotalPoints], [LoyaltyCode], [CreatedAt], [UpdatedAt], [CompanyId]) VALUES (5, N'kakumeiigun@gmail.com', 10, N'LOYAL0A70AE5C', CAST(N'2026-05-12T07:38:41.5940108' AS DateTime2), CAST(N'2026-05-12T08:11:22.2316432' AS DateTime2), 7)
SET IDENTITY_INSERT [dbo].[LoyaltyAccounts] OFF
GO
SET IDENTITY_INSERT [dbo].[LoyaltyTransactions] ON 

INSERT [dbo].[LoyaltyTransactions] ([Id], [LoyaltyAccountId], [Description], [PointsEarned], [PointsBalance], [ProcessedByStaff], [TransactionDate]) VALUES (1, 1, N'Iced Americano', 20, 20, N'Raid.Cristian@gmail.com', CAST(N'2026-05-09T06:30:02.2732330' AS DateTime2))
INSERT [dbo].[LoyaltyTransactions] ([Id], [LoyaltyAccountId], [Description], [PointsEarned], [PointsBalance], [ProcessedByStaff], [TransactionDate]) VALUES (2, 1, N'Cappuccino', 3, 23, N'Raid.Cristian@gmail.com', CAST(N'2026-05-09T06:40:20.0434039' AS DateTime2))
INSERT [dbo].[LoyaltyTransactions] ([Id], [LoyaltyAccountId], [Description], [PointsEarned], [PointsBalance], [ProcessedByStaff], [TransactionDate]) VALUES (3, 2, N'Cappuccino', 10, 10, N'pinoon@gmail.com', CAST(N'2026-05-11T07:56:53.5185397' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LoyaltyTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Promos] ON 

SET IDENTITY_INSERT [dbo].[Promos] OFF
GO
SET IDENTITY_INSERT [dbo].[PromoSignups] ON 

INSERT [dbo].[PromoSignups] ([Id], [PromoId], [Email], [IsClaimed], [ClaimedAt], [ClaimedByStaff], [InitialMessageSent], [ThankYouMessageSent], [FollowUpMessageSent], [SignedUpAt], [FollowUpScheduledAt], [CustomerType], [PromoCode]) VALUES (1, 1, NULL, 0, NULL, NULL, 0, 0, 0, CAST(N'2026-05-08T02:09:05.2315634' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[PromoSignups] ([Id], [PromoId], [Email], [IsClaimed], [ClaimedAt], [ClaimedByStaff], [InitialMessageSent], [ThankYouMessageSent], [FollowUpMessageSent], [SignedUpAt], [FollowUpScheduledAt], [CustomerType], [PromoCode]) VALUES (2, 1, NULL, 0, NULL, NULL, 1, 0, 0, CAST(N'2026-05-08T02:15:48.2171698' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[PromoSignups] ([Id], [PromoId], [Email], [IsClaimed], [ClaimedAt], [ClaimedByStaff], [InitialMessageSent], [ThankYouMessageSent], [FollowUpMessageSent], [SignedUpAt], [FollowUpScheduledAt], [CustomerType], [PromoCode]) VALUES (3, 1, NULL, 0, NULL, NULL, 1, 0, 0, CAST(N'2026-05-08T02:18:04.2330379' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PromoSignups] OFF
GO
SET IDENTITY_INSERT [dbo].[Subscriptions] ON 

INSERT [dbo].[Subscriptions] ([Id], [UserId], [Plan], [BillingCycle], [Status], [Amount], [StartDate], [ExpiryDate], [PayMongoPaymentId], [PayMongoCheckoutUrl], [CreatedAt]) VALUES (1, N'28a7f2c0-4a59-414b-8b2f-6e4cc0f9f478', N'Enterprise', N'Monthly', N'Cancelled', CAST(2999.00 AS Decimal(18, 2)), CAST(N'2026-05-09T03:24:07.9003304' AS DateTime2), CAST(N'2026-06-09T03:24:07.9006229' AS DateTime2), N'TEST-5AC84DC9', NULL, CAST(N'2026-05-09T03:24:07.8983331' AS DateTime2))
INSERT [dbo].[Subscriptions] ([Id], [UserId], [Plan], [BillingCycle], [Status], [Amount], [StartDate], [ExpiryDate], [PayMongoPaymentId], [PayMongoCheckoutUrl], [CreatedAt]) VALUES (2, N'28a7f2c0-4a59-414b-8b2f-6e4cc0f9f478', N'Enterprise', N'Monthly', N'Cancelled', CAST(2999.00 AS Decimal(18, 2)), CAST(N'2026-05-09T03:52:10.4963546' AS DateTime2), CAST(N'2026-06-09T03:52:10.4964661' AS DateTime2), N'TEST-003AFEA0', NULL, CAST(N'2026-05-09T03:52:10.4958832' AS DateTime2))
INSERT [dbo].[Subscriptions] ([Id], [UserId], [Plan], [BillingCycle], [Status], [Amount], [StartDate], [ExpiryDate], [PayMongoPaymentId], [PayMongoCheckoutUrl], [CreatedAt]) VALUES (3, N'28a7f2c0-4a59-414b-8b2f-6e4cc0f9f478', N'Enterprise', N'Monthly', N'Active', CAST(2999.00 AS Decimal(18, 2)), CAST(N'2026-05-09T04:09:53.9394078' AS DateTime2), CAST(N'2026-06-09T04:09:53.9394598' AS DateTime2), N'TEST-CFB9651C', NULL, CAST(N'2026-05-09T04:09:53.9391509' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Subscriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkflowLogs] ON 

INSERT [dbo].[WorkflowLogs] ([Id], [PromoSignupId], [Action], [Status], [Message], [ErrorDetails], [ExecutedAt]) VALUES (1, 2, N'InitialMessage', N'Success', N'Hi! Show this message to claim your Buy 2 Take 1 coffee at StarBucks.', NULL, CAST(N'2026-05-08T02:15:49.2320199' AS DateTime2))
INSERT [dbo].[WorkflowLogs] ([Id], [PromoSignupId], [Action], [Status], [Message], [ErrorDetails], [ExecutedAt]) VALUES (2, 3, N'InitialMessage', N'Success', N'Hi! Show this message to claim your Buy 2 Take 1 coffee at StarBucks.', NULL, CAST(N'2026-05-08T02:18:05.4736355' AS DateTime2))
INSERT [dbo].[WorkflowLogs] ([Id], [PromoSignupId], [Action], [Status], [Message], [ErrorDetails], [ExecutedAt]) VALUES (3, 4, N'InitialMessage', N'Failed', NULL, N'EmailSettings are not configured with real SMTP credentials. Use a real Gmail address and Gmail App Password.', CAST(N'2026-05-08T02:24:35.9260845' AS DateTime2))
SET IDENTITY_INSERT [dbo].[WorkflowLogs] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LoyaltyAccounts_Email_CompanyId]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LoyaltyAccounts_Email_CompanyId] ON [dbo].[LoyaltyAccounts]
(
	[Email] ASC,
	[CompanyId] ASC
)
WHERE ([CompanyId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LoyaltyAccounts_LoyaltyCode]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LoyaltyAccounts_LoyaltyCode] ON [dbo].[LoyaltyAccounts]
(
	[LoyaltyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoyaltyTransactions_LoyaltyAccountId]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_LoyaltyTransactions_LoyaltyAccountId] ON [dbo].[LoyaltyTransactions]
(
	[LoyaltyAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Promos_CampaignId]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_Promos_CampaignId] ON [dbo].[Promos]
(
	[CampaignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PromoSignups_PromoId]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_PromoSignups_PromoId] ON [dbo].[PromoSignups]
(
	[PromoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Subscriptions_UserId]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_Subscriptions_UserId] ON [dbo].[Subscriptions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkflowLogs_PromoSignupId]    Script Date: 5/19/2026 8:34:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_WorkflowLogs_PromoSignupId] ON [dbo].[WorkflowLogs]
(
	[PromoSignupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasCompletedSetup]
GO
ALTER TABLE [dbo].[Campaigns] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsArchived]
GO
ALTER TABLE [dbo].[Campaigns] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasLoyaltyPoints]
GO
ALTER TABLE [dbo].[CompanySettings] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsSetupComplete]
GO
ALTER TABLE [dbo].[CompanySettings] ADD  DEFAULT (CONVERT([bit],(0))) FOR [GoogleAuthenticatorEnabled]
GO
ALTER TABLE [dbo].[CompanySettings] ADD  DEFAULT (CONVERT([bit],(0))) FOR [SmtpEnableSsl]
GO
ALTER TABLE [dbo].[CompanySettings] ADD  DEFAULT (CONVERT([bit],(0))) FOR [SmtpEnabled]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LoyaltyTransactions]  WITH CHECK ADD  CONSTRAINT [FK_LoyaltyTransactions_LoyaltyAccounts_LoyaltyAccountId] FOREIGN KEY([LoyaltyAccountId])
REFERENCES [dbo].[LoyaltyAccounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoyaltyTransactions] CHECK CONSTRAINT [FK_LoyaltyTransactions_LoyaltyAccounts_LoyaltyAccountId]
GO
ALTER TABLE [dbo].[Promos]  WITH CHECK ADD  CONSTRAINT [FK_Promos_Campaigns_CampaignId] FOREIGN KEY([CampaignId])
REFERENCES [dbo].[Campaigns] ([Id])
GO
ALTER TABLE [dbo].[Promos] CHECK CONSTRAINT [FK_Promos_Campaigns_CampaignId]
GO
ALTER TABLE [dbo].[PromoSignups]  WITH CHECK ADD  CONSTRAINT [FK_PromoSignups_Promos_PromoId] FOREIGN KEY([PromoId])
REFERENCES [dbo].[Promos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromoSignups] CHECK CONSTRAINT [FK_PromoSignups_Promos_PromoId]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_Subscriptions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[WorkflowLogs]  WITH CHECK ADD  CONSTRAINT [FK_WorkflowLogs_PromoSignups_PromoSignupId] FOREIGN KEY([PromoSignupId])
REFERENCES [dbo].[PromoSignups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkflowLogs] CHECK CONSTRAINT [FK_WorkflowLogs_PromoSignups_PromoSignupId]
GO
USE [master]
GO
